// Define variables for your color scheme

// For example:
$red: #CC0000;
$blue: #167FFB;
$yellow: #ffcb01;
$orange: #E67E22;
$green: #218838;
$gray: #3f4544;
$light-gray: #F4F4F4;

// Main colors
$main-red: #CC0000;
$main-yellow: #ffcb01;
$main-dark: #201e1e;
