<div class="container mt-4 pt-4">
  <div class="d-flex align-items-center justify-content-between">
    <h1>NEW DRINK</h1>
    <%= link_to cocktails_path, class: "btn btn-dark mt-4" do %>
      <i class="fas fa-caret-left"></i> Back
    <% end %>
  </div>
</div>
<div class="container col-4 mt-4 pt-4">
  <%= render "form", cocktail: @cocktail %>
</div>