.bar {
  background-color: $main-dark;
  color: white;
  z-index: 1;
  // box-shadow: 0 0 5px $main-dark;
  padding: 0;
  height: 65px;
  border-bottom: 1px solid $main-dark;

  .footer-prepend .btn {
    border-radius: 0 0 8px 0;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .btn {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    display: block;
    border: none;
    height: 64px;
    padding: 22px;
    border-radius: 0;
    &:first-child {
      border-left: 1px solid $main-dark;
    }
    border-right: 1px solid $main-dark;
  }
}